.geosinteticos {
    height: 100%;
}

section {
    height: 90%;
}

.div_geosinteticos_gtx, .div_geosinteticos {
    height: 70%;
    overflow: auto;
}

.secc_geotextiles_no_tejidos_campos {
    height: 70%;
}

a {
    color: white;
}

ul.lista_certificados {
    list-style-type: none;
}

#links {
    clear: both;
    padding-top: 1em;
    margin-top: 20%;
}

#links ul {
    width: 25%;
    margin: auto;
    margin-top: 3%;
}

#links ul li {
    list-style-type: none;
}

section label {
    color: #fff;
    padding-left: 10px;
}
div.form {
    margin-left: 3%;
    margin-top: 3%;
    box-shadow: -5px 5px white;
    padding: 1em;
}

div.form-table-group {
    margin-left: 3%;
    margin-top: 7%;
    box-shadow: -5px 5px white;
    padding: 1em;
}

.form-group {
    margin: 0.5em;
    display: inline;
}

h1, h2, h3, td, th {
    font-family: "Montserrat";
    color: #fff;
}

h1 {
    padding-left: 7%;
    padding-top: 2%;
}

.td_calculo, .td_recomendacion {
    padding: 0;
    text-align: center;
}

.th_calculo, .th_recomendacion {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table {
    border-collapse: collapse;
    overflow-x: auto;
}

h2 {
    /* font-family: "Miller Text";
    font-style: italic; */
    font-size: 1.5em;
}

th {
    font-size: 12px;
    text-align: left;
}

#table_normas tr:nth-child(odd) {
    background: #A05748;
}

#table_normas tr:nth-child(even) {
    background: #82482F;
}

#table_normas tr:first-child {
    border-bottom: 2px solid white;
    background: transparent;
}

.normas {
    margin-left: 25%!important;
}

span#id{
    color: black;
}

input {
    width: 100px;
}

.secc_geosinteticos, .secc_geosinteticos_gtx, .secc_geotextiles {
    margin-left: 10%;
}

.secc_geotextiles_no_tejidos {
    margin-left: 10%;
    font-size: 20px;
    width: 80%;
}

.secc_geosinteticos h2 {
    text-decoration: underline;
    font-family: "Montserrat";
    font-weight: 700;
}

dl {
    font-family: "Montserrat";
    list-style-type: none;
    color: #fff;
    /* text-decoration: underline; */
}

dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 1em;
}

dt:before {
    content: "↠";
}

dd {
    padding: 0 0 0.5em 0;
}

#geotextiles_no_tejidos_funciones,
#geotextiles_no_tejidos_funciones p {
    margin-left: 80px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 13px;
}

#geotextiles_no_tejidos_funciones h2 {
    margin-left: 10px;
    font-family: "Miller Text";
    font-style:italic;
    color:#fff;
}

#geotextiles_no_tejidos_funciones,
.materia_prima, {
    max-width: 80%;
    margin-left: 15%;
    margin-top: 7%;
}

.materia_prima {
    font-size: 12px;
}


#geotextiles_no_tejidos_funciones tr:nth-child(odd) {
    background: #1C6562;
}

#geotextiles_no_tejidos_funciones tr:nth-child(even) {
    background: #1E3E3C;
}

#geotextiles_no_tejidos_funciones tr:first-child {
    border-bottom: 2px solid white;
    background: transparent;
}

#geotextiles_no_tejidos_funciones tr th {
    text-align: left;
    font-size: 20px;
}
#geotextiles_no_tejidos_funciones tr td {
    min-width: 300px;
    font-size: 18px;
}

ul,
ul li {
    font-family: "Montserrat";
    color: #fff;
}

div.cell_referencia {
    background-color: IndianRed;
    padding-left: 1em;
    padding-right: 1em;
}

div.cell_recomendado {
    background-color: DarkGreen;
    padding-left: 1em;
    padding-right: 1em;
}

div.cell_calculado{
    background-color: RoyalBlue;
    padding-left: 1em;
    padding-right: 1em;
}

div.cell_fichatecnica{
    background-color: DarkSlateGray;
    padding-left: 1em;
    padding-right: 1em;
}

#entradas {
    border-style: solid;
    border-color: white;
    float: left;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    background-color: rgba(255, 0, 0, 0.3);
    min-height: 300px;
}

#parametros{
    /* Solo para depuración. No se muestra en el diseño final. */
    display: none;
}

#salida {
    border-style: solid;
    border-color: white;
    /* float: left; */  /* Para resoluciones de netbook 12" (1024x768) */
    background-color: rgba(255, 0, 0, 0.3);
    min-width: 600px;
}
.right-side {
    float: left;
}

#botonera {
    margin-left: 3%;
    margin-top: 3%;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: white;
    float: left;
    background-color: rgba(255, 0, 0, 0.3);
    box-shadow: -5px 5px white;
    clear: left;
}

#botonera ul {
    -webkit-padding-start: 0;
}

#botonera ul li {
    width: 150px;
    margin-left: 0;
    list-style-type: none;
    text-align: center;
}

.secc_geotextiles_no_tejidos_menu {
    padding-left: 25%;
    padding-top: 10%;
}

.secc_geotextiles_no_tejidos_menu ul li {
    height: 100px;
    min-width: 12%;
    list-style-type: none;
    float: left;
    text-align: center;
}

.secc_geotextiles_no_tejidos_menu ul li div {
    height: 200px;
    padding-top: 100px;
}

.secc_geotextiles_no_tejidos_menu ul li a {
    text-decoration: none;
}

.secc_geotextiles_no_tejidos {
    background: transparent none repeat scroll 0 0;
    /* height: 33px; */
    left: 10px;
    position: relative;
    top: 35px;
    z-index: -1;
}

section.secc_geotextiles_no_tejidos div,
.imagenes_no_tejidos_funciones img:first-child{
    margin-top: 7%;
}

.secc_geotextiles_no_tejidos_funciones {
    background: transparent none repeat scroll 0 0;
    /* height: 33px; */
    left: 10px;
    position: relative;
    top: 35px;
    /* z-index: -1; */
    max-width: 90%;
}

.imagenes_no_tejidos_funciones {
    padding-left: 4%;
    float: left;
}

.imagenes_no_tejidos_funciones img{
    clear: both;
    float: left;
    padding-top: 2%;
}

.only-links {
    margin-left: 40%;
    margin-top: 10%;
    clear: left;
    width: 300px;
    height: 75px;
}

.only-links ul {
    -webkit-padding-start: 0;
    width: 25%;
    margin-top: 3%;
}

.only-links ul li {
    width: 200px;
    height: 65px;
    padding-top: 50%;
    margin-left: 0;
    border-style: solid;
    border-color: white;
    box-shadow: -5px 5px white;
    list-style-type: none;
    text-align: center;
    clear: both;
    float: left;
}

.red {
    background-color: rgba(255, 0, 0, 0.3);
}
.blue {
    background-color: rgba(1, 73, 69, 0.3);   
}

.three-rows:first-child {
    margin-top: 4%;
}

.horizontal {
    display: inline;
}

.only-links-horizontal {
    margin-top: 8%;
}

body > section > div:nth-child(1) > ul

.only-links-horizontal div {
    margin-top: 8%;
}

.only-links-horizontal ul li {
    -webkit-padding-start: 0;
    width: 250px;
    height: 100px;
    padding: 8px;
    margin-left: 30px;
    border-style: solid;
    border-color: white;
    box-shadow: -5px 5px white;
    list-style-type: none;
    text-align: center;
}

.only-links-horizontal a {
    text-decoration: none;
}

.only-links-horizontal-row {
    margin-top: 5%;
}

.title {
    margin-left: 35%;
}

.certificados {
    margin-top: 10%;
}

.productos {
    margin-top: -2%;
}

.normativas_no_tejidos {
    clear: both;
    width: 80%;
    padding-left: 5%;
    font-family: "Montserrat";
    margin-top: 20px;
    margin-bottom: 20px;
}

.normativas_no_tejidos p {
    font-size: 15px;
}

.normativa_desc {
    max-width: 70%;
    float: left;
}

.normativa_desc {
    background-color: transparent;
    width: auto;
    height: 250px;
    overflow: scroll;
    overflow-x:hidden;
}

img#info_icon {
    margin-bottom: -0.2em;
    cursor: pointer;
    /* Gradiente */
   background: rgba(164,179,87,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(164,179,87,1) 0%, rgba(117,137,12,0.5) 58%, rgba(117,137,12,0.44) 65%, rgba(117,137,12,0) 93%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(164,179,87,1)), color-stop(58%, rgba(117,137,12,0.5)), color-stop(65%, rgba(117,137,12,0.44)), color-stop(93%, rgba(117,137,12,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(164,179,87,1) 0%, rgba(117,137,12,0.5) 58%, rgba(117,137,12,0.44) 65%, rgba(117,137,12,0) 93%);
    background: -o-radial-gradient(center, ellipse cover, rgba(164,179,87,1) 0%, rgba(117,137,12,0.5) 58%, rgba(117,137,12,0.44) 65%, rgba(117,137,12,0) 93%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(164,179,87,1) 0%, rgba(117,137,12,0.5) 58%, rgba(117,137,12,0.44) 65%, rgba(117,137,12,0) 93%);
    background: radial-gradient(ellipse at center, rgba(164,179,87,1) 0%, rgba(117,137,12,0.5) 58%, rgba(117,137,12,0.44) 65%, rgba(117,137,12,0) 93%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 ); 
}

.input_calculo {
    cursor: help;
}

/* CSS POPUP*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    /* width: 80%; */
    /* display: inline-block; */
    /* width: -moz-fit-content; */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

footer {
    width: 100%;
    bottom: 0;
    position: fixed;
}
