a {
    color: white;
}

ul.lista_certificados {
    list-style-type: none;
}

#links {
    clear: both;
    padding-top: 1em;
    margin-top: 20%;
}

#links ul {
    width: 25%;
    margin: auto;
    margin-top: 3%;
}

#links ul li {
    list-style-type: none;
}

section label {
    color: #fff;
    padding-left: 10px;
}
div.form {
    margin-left: 5%;
    margin-top: 3%;
    box-shadow: -5px 5px white;
    padding: 1em;
}

div.form-table-group {
    margin-left: 3%;
    margin-top: 7%;
    box-shadow: -5px 5px white;
    padding: 1em;
}

.form-group {
    margin: 0.5em;
    display: inline;
}

h1, h2, h3, td, th {
    font-family: "Montserrat";
    color: #fff;
}

h1 {
    padding-left: 7%;
    padding-top: 2%;
}

.td_calculo, .td_recomendacion {
    padding: 0;
    text-align: center;
}

.th_calculo, .th_recomendacion {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

table {
    border-collapse: collapse;
    overflow-x: auto;
}

h2 {
    /* font-family: "Miller Text";
    font-style: italic; */
    font-size: 13px;
}

th {
    font-size: 12px;
}

.normas {
    margin-left: 25%!important;
}

span#id{
    color: black;
}

input {
    width: 100px;
}

.secc_geosinteticos,
.secc_geotextiles_no_tejidos {
    margin-left: 10%;
}

.secc_geotextiles_no_tejidos {
    margin-top: 10%;
    font-size: 20px;
}

.secc_geosinteticos h2 {
    text-decoration: underline;
    font-family: "Montserrat";
    font-weight: 700;
}

dl {
    font-family: "Montserrat";
    list-style-type: none;
    color: #fff;
    /* text-decoration: underline; */
}

dt {
    float: left;
    clear: left;
    text-align: right;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 1em;
}

dt:before {
    content: "↠";
}

dd {
    padding: 0 0 0.5em 0;
}

#geotextiles_no_tejidos_funciones,
.materia_prima {
    max-width: 80%;
    margin-left: 15%;
    margin-top: 5%;
}

.materia_prima {
    font-size: 12px;
}


#geotextiles_no_tejidos_funciones tr:nth-child(odd) {
    background: #1C6562;
}

#geotextiles_no_tejidos_funciones tr:nth-child(even) {
    background: #1E3E3C;
}

#geotextiles_no_tejidos_funciones tr:first-child {
    border-bottom: 2px solid white;
    background: transparent;
}

#geotextiles_no_tejidos_funciones tr th {
    text-align: left;
    font-size: 20px;
}
#geotextiles_no_tejidos_funciones tr td {
    min-width: 300px;
    font-size: 18px;
}

ul,
ul li {
    font-family: "Montserrat";
    color: #fff;
}

div.cell_referencia {
    background-color: IndianRed;
    padding-left: 1em;
    padding-right: 1em;
}

div.cell_recomendado {
    background-color: DarkGreen;
    padding-left: 1em;
    padding-right: 1em;
}

div.cell_calculado{
    background-color: RoyalBlue;
    padding-left: 1em;
    padding-right: 1em;
}

div.cell_fichatecnica{
    background-color: DarkSlateGray;
    padding-left: 1em;
    padding-right: 1em;
}

#entradas {
    border-style: solid;
    border-color: white;
    float: left;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    background-color: rgba(255, 0, 0, 0.3);
    min-height: 300px;
}

#parametros{
    /* Solo para depuración. No se muestra en el diseño final. */
    display: none;
}

#salida {
    border-style: solid;
    border-color: white;
    /* float: left; */  /* Para resoluciones de netbook 12" (1024x768) */
    background-color: rgba(255, 0, 0, 0.3);
    min-width: 600px;
}
.right-side {
    float: left;
}

#botonera {
    margin-left: 3%;
    margin-top: 3%;
    height: auto;
    width: auto;
    border-style: solid;
    border-color: white;
    float: left;
    background-color: rgba(255, 0, 0, 0.3);
    box-shadow: -5px 5px white;
    clear: left;
}

#botonera ul {
    -webkit-padding-start: 0;
}

#botonera ul li {
    width: 150px;
    margin-left: 0;
    list-style-type: none;
    text-align: center;
}

.secc_geotextiles_no_tejidos_menu {
    padding-left: 25%;
    padding-top: 10%;
}

.secc_geotextiles_no_tejidos_menu ul li {
    height: 100px;
    min-width: 12%;
    list-style-type: none;
    float: left;
    text-align: center;
}

.secc_geotextiles_no_tejidos_menu ul li div {
    height: 200px;
    padding-top: 100px;
}

.secc_geotextiles_no_tejidos_menu ul li a {
    text-decoration: none;
}

.secc_geotextiles_no_tejidos {
    background: transparent none repeat scroll 0 0;
    border: 2px solid #fff;
    height: 33px;
    left: 10px;
    position: relative;
    top: 35px;
    width: 135px;
    z-index: -1;
}

section.secc_geotextiles_no_tejidos div {
    margin-top: 7%;
}
