#links {
    margin-top: 20%;
}
#links ul {
    width: 25%;
    margin: auto;
    margin-top: 3%;
}

#links ul li {
    list-style-type: none;
}

section label {
    color: #fff;
    padding-left: 10px;
}
div.form {
    margin-left: 10%;
    margin-top: 10%;
}
div.form-table-group {
    margin-left: 10%;
    margin-top: 3%;
}

.form-group {
    display: inline;
}

h1, h2, td, th {
    color: #fff;
}

h2 {
    font-family: "Miller Text";
    font-size: 13px;
    font-style: italic;
}

th {
    font-size: 12px;
}

.normas {
    margin-left: 25%!important;
}

span#id{
    color: black;
}

input {
    width: 100px;
}

#in0