a {
    color: white;
}

ul.lista_certificados {
    list-style-type: none;
}

#links {
    margin-top: 20%;
}

#links ul {
    width: 25%;
    margin: auto;
    margin-top: 3%;
}

#links ul li {
    list-style-type: none;
}

section label {
    color: #fff;
    padding-left: 10px;
}
div.form {
    margin-left: 10%;
    margin-top: 10%;
}
div.form-table-group {
    margin-left: 10%;
    margin-top: 3%;
}

.form-group {
    display: inline;
}

h1, h2, h3, td, th {
    font-family: "Montserrat";
    color: #fff;
}

h2 {
    font-family: "Miller Text";
    font-size: 13px;
    font-style: italic;
}

th {
    font-size: 12px;
}

.normas {
    margin-left: 25%!important;
}

span#id{
    color: black;
}

input {
    width: 100px;
}

.secc_geosinteticos,
.secc_geotextiles_no_tejidos {
    margin-left: 10%;
}

.secc_geotextiles_no_tejidos {
    margin-top: 10%;
    font-size: 20px;
}

.secc_geosinteticos h2 {
    text-decoration: underline;
    font-family: "Montserrat";
    font-weight: 700;
}

dl {
    list-style-type: none;
    color: #fff;
    text-decoration: underline;
}

#geotextiles_no_tejidos_funciones,
.materia_prima {
    max-width: 80%;
}
.materia_prima {
    font-size: 12px;
}

ul,
ul li {
    font-family: "Montserrat";
    color: #fff;
}

div.cell_referencia {
    background-color: IndianRed;
}

div.cell_recomendado {
    background-color: DarkGreen;
}
