@font-face {
    font-family: "Miller Text";
    /* src: url('../fonts/millertextitalic.ttf') format('truetype'); */
    src: url('../fonts/CrimsonText-Italic.ttf') format('truetype');
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'),
         url('../fonts/Montserrat-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype'); /* Safari, Android, iOS */
}
